{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main-content-wrapper">
    <div class="container">
        <header id="profile-header">
            <div class="row">
                <div class="col" align="center">
                    <img id="img-profile" src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
                </div>
            </div>
            <div class="row" align="center">
                <div class="col">
                    <h1>{{ user.username }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" align="center">
                    <p>{{ user.email }}</p>
                    <p> <b>Articles:</b> {{ my_posts|length }}</p>
                </div>
            </div>

        </header>
        {% for post in my_posts %}
        <div class="article-container">
            <div class="row">
                <div class="col-1">
                    <img id="img-profile-article" src="{{ post.author.profile.image.url }}" alt="">
                </div>
                <div class="col-11">
                    <div id="title-and-caption">
                        <h5> {{ post.title }} </h5>
                        <p class="card-text"><small class="text-muted">By <b>{{ post.author }}</b>
                            • Published on {{ post.date_posted|date:"F d, Y." }}</small></p>
                    </div>
                    <div class="articles_content">
                        {{ post.content }}
                    </div>
                    <a href="#">Read more</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}